

.subsubsub strong{ color: #333; }
#unsaved_changes{
	color:#AAA;
}
#global_js_js{
 clear:both;
}
/* code from lib/codemirror.css */
.searched {background: yellow;}
.CodeMirror {
  clear: both;
  overflow: auto;
  line-height: 1em;
  font-family: monospace;
  _position: relative; /* IE6 hack */
  font-size: 13px;
  border: 1px solid #AAA;
  height: auto;
  background: #FFF;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

/* Styles from codemirror eclipse */
span.keyword {line-height: 1em; font-weight: bold; color: #7F0055;}
span.atom {color: #219;}
span.number {color: #164;}
span.def {color: #00f;}
span.variable {color: blue;}
span.variable-2 {color: #0000C0;}
span.variable-3 {color: #0000C0;}
span.property {color: black;}
span.operator {color: black;}
span.comment {color: #3F7F5F;}
span.string {color: #2A00FF;}
span.string-2 {color: #f50;}
span.meta {color: #555;}
span.error {color: #f00;}
span.qualifier {color: #555;}
span.builtin {color: #30a;}
span.bracket {color: #CC7;}
span.tag {color: #170;}
span.attribute {color: #00c;}
span.link {color: #00C;}

.CodeMirror-matchingbracket {border:1px solid grey; color: #000000 !important;;}
.CodeMirror-nonmatchingbracket {color: #FF0000;}
